@font-face {
	font-family: Montserrat;
	src: url('../fonts/Montserrat-Regular.ttf');
}
@font-face {
	font-family: Montserrat;
	src: url('../fonts/Montserrat-Bold.ttf');
}
@font-face {
	font-family: RobotoSlab;
	src: url('../fonts/RobotoSlab-Regular.ttf')
}
@font-face {
	font-family: RobotoSlab;
	src: url('../fonts/RobotoSlab-Light.ttf')
}
html{
	min-width: 1140px;
}
body{
	margin: 0;
	padding: 0;
}

ul{
	margin:0;
	padding: 0;
	list-style-type: none;
}
a{
	text-decoration: none;
}
h3{
	width: 100%;
	font-family: Montserrat, sans-serif;
	color:  #555555;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}
.img-item{
	background-size: cover;
	background-position: center;
}

.container{
	width: 1140px;
	margin: 0 auto;
	display: flex;
}

.header{
	width: 100%;
	height: 770px;
	background: url("../img/header_opac-bnd.png") no-repeat, url("../img/header_main_bgn.png") no-repeat;
	background-size: cover;
	overflow: hidden;
}
.header:hover{
	background: url("../img/header_main_bgn.png") no-repeat;
	background-size: cover;
}


.top-header{
	margin-top: 40px;
	display: flex;
	justify-content: space-around;
}
.logo a{
	font-family: Montserrat, sans-serif;
	color: #ffffff;
	font-size: 24px;
	font-weight:700;
	line-height: 36px;
	text-align: left;

}
.menu{
	display: flex;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	font-style: normal;
}

.menu li a{
	margin-right: 30px;
	font-family: Montserrat,sans-serif;
	color:  #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}
.menu li:last-child{
	margin-right: 0;
}
.menu li:hover a{
	background: url("../img/header_opac-bnd.png");
	border-radius: 5px;
	text-align: center;
}
.welcome{
	width: 600px;
	height:190px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-top: 264px;
}
.welcome ,.welcome a{
	font-family: Montserrat, sans-serif;
	color:  #ffffff;
	line-height: 24px;
}
.welcome h1{
	font-family: RobotoSlab,sans-serif;
	font-size: 48px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	font-weight:700;
}
.welcome span{
	font-family: RobotoSlab,sans-serif;
	font-size: 20px;
}
.get-start-btn{
	font-size: 16px;
	border-radius: 2px;
	border: 2px solid #ffffff;
	width: 176px;
	height: 46px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
}
.get-start-btn:hover{
	background: url("../img/header_opac-bnd.png");
}
.get-start-btn:active{
	box-shadow: inset 2px 2px 6px;
	font-size: 0.9em;
}
.services{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;

}
.services-top, .about-top{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
	margin-bottom: 80px;

}
.underline{
	background-color:  #555555;
	width: 50px;
	height: 2px;
	margin: 30px 0;
}
.services-top span, .about-top span, .blog-top span{
	font-family: RobotoSlab, sans-serif;
	color:  #555555;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.services-bot{
	display: flex;
}
.services-item{
	width: 350px;
	height: 220px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 100px;

}
.services-item-icon a{
	border-radius: 50%;
	width: 86px;
	height: 86px;
	font-size: 43px;
	font-weight: 900;
	border: 2px solid #dddddd;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #c0301c;
	background-color:  #ffffff
}
.services-item a:hover{
	background-color: #c0301c;
	color: #ffffff;
}
.services-item h5{
	font-family: Montserrat,sans-serif;
	color: #555555;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}
.services-item p, .about-text span{
	font-family:RobotoSlab,sans-serif;
	color:  #555555;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	margin:0;
	padding: 0;
	text-align: center;
}
.rock{
	margin-left: 45px;
	margin-right: 45px;
}
.about{
	background-color:  #f8f8f8;
	width: 100%;
	height: 852px;
}
.about .container{
	flex-direction: column;
}
.about-text{
	display: flex;
	margin-top: 70px;
}
.about article{
	width: 560px;
	height: 110px;
	text-align: left;
}
.about-article-left{
	margin-right: 30px;
}
.about-bot{
	display: flex;
	justify-content: space-between;
	position: relative;
}
.about-bot:before{
	content: '';
	display: block;
	width: 35px;
	height: 38px;
	background: url("../img/arrow-prev.png");
	position: absolute;
	z-index: 2;
	top: 32%;
	cursor: pointer;
}

.about-bot:after{
	content: '';
	display: block;
	width: 35px;
	height: 38px;
	background: url("../img/arrow-next.png");
	position: absolute;
	z-index: 2;
	top: 32%;
	right: 0;
	cursor: pointer;
}


figure{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 0;
}
figcaption{
	text-align: center;
}
figcaption h4{
	font-family: Montserrat, sans-serif;
	color: #555555;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	margin: 20px 0 0 0;
	padding: 0;
	text-transform: uppercase;

}
figcaption span{
	font-family: RobotoSlab, sans-serif;
	color: #555555;
	font-size: 13px;
	font-weight: 700;
	line-height: 20px;
	position: relative;
}
.about-hover-block{
	display: none;
	width: 263px;
	height: 250px;
	position: absolute;
	background: url('../img/photo-item-hover.png');
}
.about-social{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width:116px;
	height: 30px;
	margin-bottom: 30px;
	font-size: 20px;
}
.about-social a{
	color: #ffffff;
}
.about-social .fa:hover{
	color:  #c0301c;
}
figure:hover .about-hover-block{
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.works .container{
	flex-direction: column;
	align-items: center;
}
.works-top{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
}
.works-menu{
	display: flex;
}
.works-menu a{
	font-family: RobotoSlab, sans-serif;
	color:  #555555;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	margin-right: 25px;
}
.works-menu a:hover{
	color:  #c0301c;
}
.works-menu li:last-child{
	margin-right: 0;
}
.works-content{
	margin-top: 70px;
	height: 1020px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	margin-bottom: 100px;
}
.works-item{
	width: 360px;
	height: 320px;
	background-color: #555555;
	position: relative;
}
.works-item-hover{
	background: url("../img/works-bn-hover.png");
	position: absolute;
	width: 360px;
	height: 220px;
	display: none;
	align-items: center;
	flex-direction: column;
	padding-top: 100px;

}
.works-item-hover h6{
	font-family: Montserrat,sans-serif;
	color:  #ffffff;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 15px;
	margin-top: 0;
	padding: 0;
}
.works-item-hover span{
	font-family: RobotoSlab,sans-serif;
	color:  #ffffff;
	font-size: 12px;
	line-height: 24px;
	margin-bottom: 25px;
}
.works-item-hover a{
	display: inline-flex;
	background-color:  #ffffff;
	width: 100px;
	height: 38px;
	font-family: RobotoSlab,sans-serif;
	color:  #c0301c;
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	justify-content: center;
	align-items: center;
}
.works-item:hover .works-item-hover{
	display: flex;
}
.project{
	width: 100%;
	height: 369px;
	background: url("../img/project-bn.png") no-repeat;
	background-size: cover;
}
.project-hover{
	background: url("../img/works-bn-hover.png");
	width: 100%;
	height: 100%;
	display: none;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.project-hover span{
	font-family: RobotoSlab,sans-serif;
	color: #ffffff;
	font-size: 30px;
	font-weight: 400;
	line-height: 44px;
	text-align: center;
}
.project-hover a {
	border-radius: 2px;
	background-color: #ffffff;
	width: 180px;
	height: 50px;
	font-family: RobotoSlab, sans-serif;
	color: #c0301c;
	font-size: 18px;
	font-weight: 600;
	line-height: 44px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 53px;
}
.project:hover .project-hover{
	display: flex;
}

.blog .container{
	flex-direction: column;
	padding-top: 100px;
}
.blog-top{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 42px;
}
.blog-item-common{
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid #dddddd;
	margin-top:38px;
}
.blog-item-common:last-child{
	border: none;
	margin-bottom: 60px;
}
.blog-item{
	width: 460px;
	height: 320px;
	margin-bottom: 40px;
}
.blog-item:last-child{
	margin-bottom: 0;
}
.item1-img{
	background: url("../img/blog-img1.png");
}
.item2-img{
	background: url("../img/works8-bn.png");
}
.blog-item-content{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 255px;
	width: 640px;

}
.blog-date-block{
	display: flex;
	border: 2px solid #555555;
	width: 72px;
	height: 72px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0;
	top: 0;
}
.date{
	font-family: Montserrat, sans-serif;
	color:  #777777;
	font-size: 24px;
	font-weight: 700;
	line-height: 20px;
}
.month{
	font-family: Montserrat,sans-serif;
	color:  #777777;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
}
.blog-item-content h4{
	margin-left: 100px;
	margin-bottom: 0;

}
.blog-item-content h4 a{
	font-family: Montserrat,sans-serif;
	color: #c0301c;
	font-size: 16px; /* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 24px; /* Приближение из-за подстановки шрифтов */
	text-align: center;
	text-transform: uppercase;
}
.develop{
	margin-left: 100px;
	font-family: RobotoSlab,sans-serif;
	color:  #777777;
	font-size: 13px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 24px;/* Приближение из-за подстановки шрифтов */
	margin-top: -20px;
	margin-bottom: 20px;
	font-style:italic;
}
.develop a{
	font-family: RobotoSlab,sans-serif;
	color:  #c0301c;
	font-size: 13px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 24px;/* Приближение из-за подстановки шрифтов */
}
.read{
	margin-top: 35px;
}
.read a{
	font-family: RobotoSlab,sans-serif;
	color:  #c0301c;
	font-size: 13px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 24px;/* Приближение из-за подстановки шрифтов */
	text-transform: uppercase;
}







